<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/style.css")}}">
    <link rel="stylesheet" href="https://www.googleapis.com/webfonts/v1/webfonts?key=AIzaSyB5UkT8kNU76EdG2z4wp7-yrfa_Fca9kDU">
    <title>Design Stylz</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link"><h1 style="color: #714288; font-family:'Tangerine', serif; text-shadow: 8px 6px 6px #99e1e5; font-size:75px;">Design Stylz</h1></a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 style="margin-left: 475px;">Let's Setup your appointment</h1>

    {% with messages = get_flashed_messages(category_filter=['appointment']) %}     <!-- declare a variable called messages -->
                        {% if messages %}                            <!-- check if there are any messages -->
                            {% for message in messages %}            <!-- loop through the messages -->
                                <p style="color: #ff0000; font-size:  24px; margin-left: 475px;">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

    <div class="appt_container">
        <form action="/appt_create" method="post" enctype="multipart/form-data">
            <div class="form-section">
                <div class="form-group">
                    <label for="date">Schedule date @</label>
                    <input type="date" name="date" id="date">
                </div>
                <div class="form-group">
                    <label for="date">Pin me in @</label>
                    <input type="time" name="time" id="time">
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Select a stylist</label>
                        </div>
                        <select name="stylist_id" id="Stylist">
                            {% for designer in styler%}
                            <option name="{{designer.id}}" value="{{designer.id}}">{{designer.last_name}}, {{designer.first_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-section">
                <div class="form-group">
                    <label for="description">Any important details to note?</label>
                    <input style="width: 600px;" type="text" name="description" id="description">
                </div>
            </div>

            <div class="form-group">
                <label for="first_name">What service would you like?</label>
                <p>One can be selected. if need please specify in the details.</p>
                <div class="checkbox-group">
                    <div>
                        <input type="checkbox" name="service" value="Some braids are good.">
                        <label for="Braids">Braids</label>
                    </div>
                    <div>
                        <input type="checkbox" name="service" value="Set me up for a haircut.">
                        <label for="Haircut">Barber</label>
                    </div>
                    <div>
                        <input type="checkbox" name="service" value="Manicure/Pedicure is life.">
                        <label for="nails">Nails</label>
                    </div>
                    <div>
                        <input type="checkbox" name="service" value="In need of some wax therapy.">
                        <label for="waxing">Waxing</label>
                    </div>
                </div>

            </div>
            <button type="submit" class=" btn btn-info">Set appointment √</button>
            <a style="color:#afffff; margin-left: 20px;" href="/customerDash" class="btn btn-outline-info">× Close</a>
        </form>
    </div>
</body>
</html>