*{
    padding: 0;
    margin: 0;
}
img{
    width: 50px;
    height: 50px;
    margin: 10px;
}
input[readonly] {
    background-color: #c0c0c0;
}
.navbar{
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.navbar-edit{
    display: flex;
    justify-content: space-around;
}
.container_landing{
    border: 5px solid #4e2161;
    border-radius: 20px;
    box-shadow: 3px 5px 10px;
    width: 1000px;
    height: 600px;
    margin-left: 350px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card-body_stylist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 300px;

}
.card-body_customer{
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    height: 75px;
    padding: 20px;
    margin: 5px;
}
.style_land{
    width: 250px;
    height: 250px;
}
.stylist-list{
    border: 5px solid #74dbef;
    border-radius: 20px;
    background-color: #393c83;
    display: flex;
    padding: 20px;
    margin-top: 25px;
    margin-left: 200px;
    width: 1300px;
    height: 600px;
    flex-wrap: wrap;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.stylist-log{
    border: 5px solid #8b4c8c;
    background-color: #2b3595;
    border-radius: 30px;
    width: 1000px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.card{
    margin-left: 5px;
    max-height: 200px;
}

.customer-list{
    border: 5px solid #74dbef;
    border-radius: 20px;
    background-color: #393c83;
    padding: 20px;
    margin-top: 25px;
    margin-left: 250px;
    width: 1200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.login-stylist{
    background-color: #693e52;
    border-radius: 30px;
    color: white;
    width: 1200px;
    height: 600px;
    margin-left: 250px;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.login-customer{
    background-color: #693e52;
    border-radius: 30px;
    color: white;
    width: 1200px;
    height: 600px;
    margin-left: 250px;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.registerST{
    width: 500px;
    padding: 20px;
}
.loginST{
    width: 500px;
    height: 400px;
    padding: 20px;
}
.registerCU{
    width: 500px;
    padding: 20px;
}
.loginCU{
    width: 500px;
    height: 400px;
    padding: 20px;
}
.editForm_stylist{
    border: 5px solid green;
    background-color: #35013f;
    color: whitesmoke;
    width: 1000px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 300px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.checkbox-group{
    display: flex;
    justify-content: space-around;
}
.editCUwrapper{
    border: 5px solid purple;
    border-radius: 30px;
    width: 1000px;
    margin-left: 300px;
    margin-top: 20px;
    padding: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.appt_container{
    border: 5px solid black;
    background-color: #693e52;
    color: white;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 325px;
    width: 1000px;
    display: flex;
    padding: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}